Header always set Content-Security-Policy: upgrade-insecure-requests
RewriteEngine on
RewriteCond %{REQUEST_URI} !^public
RewriteRule ^(.*)$ public/$1 [L]

<FilesMatch ".(?:html|php)$">
SetHandler application/x-httpd-alt-php82
</FilesMatch>
